### DEMANDA DATA ANALYSIS

In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

Get the Data from the official source (INE)

- [Ocupados por sexo y rama de actividad](https://www.ine.es/jaxiT3/Tabla.htm?t=4128)
- [Salario por sexo y rama de actividad](https://www.ine.es/jaxiT3/Tabla.htm?t=28185)
- [Titulados en Bachillerato según su situación laboral en 2019 por sexo y modalidad](https://www.ine.es/jaxi/Tabla.htm?tpx=43915&L=0)
- [Titulados en Ciclos Formativos de Grado Medio según su situación laboral en 2019 por sexo y ciclo](https://www.ine.es/jaxi/Tabla.htm?tpx=44317&L=0)
- [Titulados en Ciclos Formativos de Grado Superior según su situación laboral en 2019 por sexo y ciclo](https://www.ine.es/jaxi/Tabla.htm?tpx=44750&L=0)
- [Graduados universitarios por titulación y sexo](https://www.ine.es/jaxi/Tabla.htm?tpx=48889&L=0)
- [Tasas de actividad, empleo y paro de los graduados de los graduados universitarios por sexo y titulación](https://www.ine.es/jaxi/Tabla.htm?tpx=48895&L=0)

**DATA PREPROCESS**

In [166]:
# Bachillerato data Preprocess
df = pd.read_csv("bachillerato_situacion_laboral_2019.csv", sep = ";", decimal = ",")
df['Total'] = pd.to_numeric(df['Total'].apply(lambda numstr: numstr.replace(".", "").replace(",", ".")))
df.set_index(["Modalidad", "Sexo", "Situación laboral en 2019"], inplace = True)
df = df.unstack()
df = df.droplevel(0, axis = 1)
df.columns.name = None

# Compute the activity, employement and unemployment rates
df['Tasa de actividad'] = ((df['Trabajando'] + df['En desempleo'])  / df['Total']) * 100
df['Tasa de empleo'] = (df['Trabajando'] / df['Total']) * 100
df['Tasa de paro'] = (df['En desempleo'] / (df['Trabajando'] + df['En desempleo'])) * 100

# Finally, show how is the dataframe
df_bachillerato = df
df_bachillerato.info()
df_bachillerato.tail()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 12 entries, ('Artes', 'Ambos sexos') to ('Total', 'Mujeres')
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   En desempleo       12 non-null     int64
 1   Inactivo           12 non-null     int64
 2   Total              12 non-null     int64
 3   Trabajando         12 non-null     int64
 4   Tasa de actividad  12 non-null     float64
 5   Tasa de empleo     12 non-null     float64
 6   Tasa de paro       12 non-null     float64
dtypes: float64(3), int64(4)
memory usage: 1.1+ KB

                                             En desempleo  Inactivo   Total  \
Modalidad                       Sexo
Humanidades y Ciencias Sociales Hombres              7417     13293   43915
                                Mujeres             11709     18368   69201
Total                           Ambos sexos         35783     71959  233281
                                Hombres             15445     33820  104388
                                Mujeres             20338     38139  128893

                                             Trabajando  Tasa de actividad  \
Modalidad                       Sexo
Humanidades y Ciencias Sociales Hombres           23205          69.730161
                                Mujeres           39125          73.458476
Total                           Ambos sexos      125539          69.153510
                                Hombres           55123          67.601640
                                Mujeres           70416          70.410340

                                             Tasa de empleo  Tasa de paro
Modalidad                       Sexo
Humanidades y Ciencias Sociales Hombres           52.840715     24.221148
                                Mujeres           56.538200     23.033796
Total                           Ambos sexos       53.814498     22.181104
                                Hombres           52.805878     21.886691
                                Mujeres           54.631361     22.410032

In [165]:
# Ciclo Medio data Preprocess
df = pd.read_csv("ciclo_medio_situacion_laboral_2019.csv", sep = ";", decimal = ",")
df['Total'] = pd.to_numeric(df['Total'].apply(lambda numstr: numstr.replace(".", "").replace(",", ".")))
df.set_index(["Ciclo", "Sexo", "Situación laboral en 2019"], inplace = True)
df = df.unstack()
df = df.droplevel(0, axis = 1)
df.columns.name = None

# Compute the activity, employement and unemployment rates
df['Tasa de actividad'] = ((df['Trabajando'] + df['En desempleo'])  / df['Total']) * 100
df['Tasa de empleo'] = (df['Trabajando'] / df['Total']) * 100
df['Tasa de paro'] = (df['En desempleo'] / (df['Trabajando'] + df['En desempleo'])) * 100

# Finally, show how is the dataframe
df_ciclo_medio = df
df_ciclo_medio.info()
df_ciclo_medio.tail()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 63 entries, ('01 - AGRARIA', 'Ambos sexos') to ('Total', 'Mujeres')
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   En desempleo       63 non-null     int64
 1   Inactivo           63 non-null     int64
 2   Total              63 non-null     int64
 3   Trabajando         63 non-null     int64
 4   Tasa de actividad  63 non-null     float64
 5   Tasa de empleo     63 non-null     float64
 6   Tasa de paro       63 non-null     float64
dtypes: float64(3), int64(4)
memory usage: 4.5+ KB

                                                   En desempleo  Inactivo  \
Ciclo                                 Sexo
25 - ACTIVIDADES FÍSICAS Y DEPORTIVAS Hombres               367       485
                                      Mujeres               112        84
Total                                 Ambos sexos         13876     10891
                                      Hombres              6089      5210
                                      Mujeres              7787      5682

                                                   Total  Trabajando  \
Ciclo                                 Sexo
25 - ACTIVIDADES FÍSICAS Y DEPORTIVAS Hombres       2304        1452
                                      Mujeres        526         330
Total                                 Ambos sexos  97647       72880
                                      Hombres      50239       38941
                                      Mujeres      47408       33939

                                                   Tasa de actividad  \
Ciclo                                 Sexo
25 - ACTIVIDADES FÍSICAS Y DEPORTIVAS Hombres              78.949653
                                      Mujeres              84.030418
Total                                 Ambos sexos          88.846560
                                      Hombres              89.631561
                                      Mujeres              88.014681

                                                   Tasa de empleo  \
Ciclo                                 Sexo
25 - ACTIVIDADES FÍSICAS Y DEPORTIVAS Hombres           63.020833
                                      Mujeres           62.737643
Total                                 Ambos sexos       74.636190
                                      Hombres           77.511495
                                      Mujeres           71.589183

                                                   Tasa de paro
Ciclo                                 Sexo
25 - ACTIVIDADES FÍSICAS Y DEPORTIVAS Hombres         20.175921
                                      Mujeres         25.339367
Total                                 Ambos sexos     15.994283
                                      Hombres         13.522096
                                      Mujeres         18.662225

In [167]:
# Ciclo Superior data Preprocess
df = pd.read_csv("ciclo_superior_situacion_laboral_2019.csv", sep = ";", decimal = ",")
df['Total'] = pd.to_numeric(df['Total'].apply(lambda numstr: numstr.replace(".", "").replace(",", ".")))
df.set_index(["Ciclo", "Sexo", "Situación laboral en 2019"], inplace = True)
df = df.unstack()
df = df.droplevel(0, axis = 1)
df.columns.name = None

# Compute the activity, employement and unemployment rates
df['Tasa de actividad'] = ((df['Trabajando'] + df['En desempleo'])  / df['Total']) * 100
df['Tasa de empleo'] = (df['Trabajando'] / df['Total']) * 100
df['Tasa de paro'] = (df['En desempleo'] / (df['Trabajando'] + df['En desempleo'])) * 100

# Finally, show how is the dataframe
df_ciclo_superior = df
df_ciclo_superior.info()
df_ciclo_superior.tail()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 69 entries, ('01 - AGRARIA', 'Ambos sexos') to ('Total', 'Mujeres')
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   En desempleo       69 non-null     int64
 1   Inactivo           69 non-null     int64
 2   Total              69 non-null     int64
 3   Trabajando         69 non-null     int64
 4   Tasa de actividad  69 non-null     float64
 5   Tasa de empleo     69 non-null     float64
 6   Tasa de paro       69 non-null     float64
dtypes: float64(3), int64(4)
memory usage: 4.9+ KB

                                                   En desempleo  Inactivo  \
Ciclo                                 Sexo
25 - ACTIVIDADES FÍSICAS Y DEPORTIVAS Hombres               310       818
                                      Mujeres               281       179
Total                                 Ambos sexos         13056     10348
                                      Hombres              5534      4471
                                      Mujeres              7522      5876

                                                    Total  Trabajando  \
Ciclo                                 Sexo
25 - ACTIVIDADES FÍSICAS Y DEPORTIVAS Hombres        5214        4087
                                      Mujeres        1200         739
Total                                 Ambos sexos  113910       90506
                                      Hombres       55473       45468
                                      Mujeres       58437       45039

                                                   Tasa de actividad  \
Ciclo                                 Sexo
25 - ACTIVIDADES FÍSICAS Y DEPORTIVAS Hombres              84.330648
                                      Mujeres              85.000000
Total                                 Ambos sexos          90.915635
                                      Hombres              91.940223
                                      Mujeres              89.944727

                                                   Tasa de empleo  \
Ciclo                                 Sexo
25 - ACTIVIDADES FÍSICAS Y DEPORTIVAS Hombres           78.385117
                                      Mujeres           61.583333
Total                                 Ambos sexos       79.453955
                                      Hombres           81.964199
                                      Mujeres           77.072745

                                                   Tasa de paro
Ciclo                                 Sexo
25 - ACTIVIDADES FÍSICAS Y DEPORTIVAS Hombres          7.050262
                                      Mujeres         27.549020
Total                                 Ambos sexos     12.606941
                                      Hombres         10.850555
                                      Mujeres         14.310991

In [181]:
# Universidad data Preprocess
df_universidad = pd.read_csv("universidad_caracteristicas.csv", sep = ";", decimal = ",")
df_universidad['Total'] = pd.to_numeric(df_universidad['Total'].apply(lambda numstr: numstr.replace(".", "").replace(",", ".")))
df_universidad.set_index(["Titulación", "Sexo"], inplace = True)

df_tasas = pd.read_csv("universidad_situacion_laboral_2019.csv", sep = ";", decimal = ",")
df_tasas.set_index(["Titulación", "Sexo", "Tasas de actividad, empleo y paro"], inplace = True)
df_tasas = df_tasas.unstack()
df_tasas = df_tasas.droplevel(0, axis = 1)
df_tasas.columns.name = None

In [186]:
df_universidad = df_universidad.join(df_tasas, how = "left")
df_universidad.info()
df_universidad

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 33 entries, ('TOTAL', 'Ambos sexos') to ('10 - SERVICIOS', 'Mujeres')
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Total              33 non-null     int64
 1   Tasa de actividad  33 non-null     float64
 2   Tasa de empleo     33 non-null     float64
 3   Tasa de paro       33 non-null     float64
dtypes: float64(3), int64(1)
memory usage: 2.8+ KB

                                                                 Total  \
Titulación                                         Sexo
TOTAL                                              Ambos sexos  233626
                                                   Hombres       96857
                                                   Mujeres      136769
01 - EDUCACIÓN                                     Ambos sexos   41108
                                                   Hombres        8169
                                                   Mujeres       32939
02 - ARTES Y HUMANIDADES                           Ambos sexos   20216
                                                   Hombres        7246
                                                   Mujeres       12970
03 - CIENCIAS SOCIALES, PERIODISMO Y DOCUMENTACIÓN Ambos sexos   21241
                                                   Hombres        7734
                                                   Mujeres       13507
04 - NEGOCIOS, ADMINISTRACIÓN Y DERECHO            Ambos sexos   48349
                                                   Hombres       20658
                                                   Mujeres       27691
05 - CIENCIAS                                      Ambos sexos   12233
                                                   Hombres        5422
                                                   Mujeres        6811
06 - INFORMÁTICA                                   Ambos sexos    6859
                                                   Hombres        5777
                                                   Mujeres        1082
07 - INGENIERÍA, INDUSTRIA Y CONSTRUCCIÓN          Ambos sexos   38686
                                                   Hombres       27151
                                                   Mujeres       11535
08 - AGRICULTURA, GANADERÍA, SILVICULTURA, PESC... Ambos sexos    4033
                                                   Hombres        2005
                                                   Mujeres        2028
09 - SALUD Y SERVICIOS SOCIALES                    Ambos sexos   33181
                                                   Hombres        8328
                                                   Mujeres       24853
10 - SERVICIOS                                     Ambos sexos    7720
                                                   Hombres        4367
                                                   Mujeres        3353

                                                                Tasa de actividad  \
Titulación                                         Sexo
TOTAL                                              Ambos sexos               93.6
                                                   Hombres                   94.4
                                                   Mujeres                   93.0
01 - EDUCACIÓN                                     Ambos sexos               93.4
                                                   Hombres                   94.3
                                                   Mujeres                   93.2
02 - ARTES Y HUMANIDADES                           Ambos sexos               89.3
                                                   Hombres                   88.5
                                                   Mujeres                   89.7
03 - CIENCIAS SOCIALES, PERIODISMO Y DOCUMENTACIÓN Ambos sexos               93.4
                                                   Hombres                   92.7
                                                   Mujeres                   93.8
04 - NEGOCIOS, ADMINISTRACIÓN Y DERECHO            Ambos sexos               91.2
                                                   Hombres                   92.4
                                                   Mujeres                   90.4
05 - CIENCIAS                                      Ambos sexos               93.4
                                                   Hombres                   93.2
                                                   Mujeres                   93.6
06 - INFORMÁTICA                                   Ambos sexos               98.5
                                                   Hombres                   98.8
                                                   Mujeres                   96.8
07 - INGENIERÍA, INDUSTRIA Y CONSTRUCCIÓN          Ambos sexos               96.6
                                                   Hombres                   97.3
                                                   Mujeres                   95.0
08 - AGRICULTURA, GANADERÍA, SILVICULTURA, PESC... Ambos sexos               94.1
                                                   Hombres                   95.4
                                                   Mujeres                   92.8
09 - SALUD Y SERVICIOS SOCIALES                    Ambos sexos               96.0
                                                   Hombres                   96.2
                                                   Mujeres                   96.0
10 - SERVICIOS                                     Ambos sexos               92.1
                                                   Hombres                   92.2
                                                   Mujeres                   92.0

                                                                Tasa de empleo  \
Titulación                                         Sexo
TOTAL                                              Ambos sexos            86.1
                                                   Hombres                87.8
                                                   Mujeres                84.9
01 - EDUCACIÓN                                     Ambos sexos            82.2
                                                   Hombres                83.5
                                                   Mujeres                81.8
02 - ARTES Y HUMANIDADES                           Ambos sexos            77.1
                                                   Hombres                75.4
                                                   Mujeres                78.0
03 - CIENCIAS SOCIALES, PERIODISMO Y DOCUMENTACIÓN Ambos sexos            85.1
                                                   Hombres                83.8
                                                   Mujeres                85.9
04 - NEGOCIOS, ADMINISTRACIÓN Y DERECHO            Ambos sexos            84.0
                                                   Hombres                85.7
                                                   Mujeres                82.7
05 - CIENCIAS                                      Ambos sexos            83.6
                                                   Hombres                83.9
                                                   Mujeres                83.4
06 - INFORMÁTICA                                   Ambos sexos            96.3
                                                   Hombres                97.0
                                                   Mujeres                92.3
07 - INGENIERÍA, INDUSTRIA Y CONSTRUCCIÓN          Ambos sexos            92.0
                                                   Hombres                92.5
                                                   Mujeres                90.8
08 - AGRICULTURA, GANADERÍA, SILVICULTURA, PESC... Ambos sexos            88.6
                                                   Hombres                90.8
                                                   Mujeres                86.5
09 - SALUD Y SERVICIOS SOCIALES                    Ambos sexos            92.1
                                                   Hombres                93.0
                                                   Mujeres                91.8
10 - SERVICIOS                                     Ambos sexos            84.4
                                                   Hombres                85.6
                                                   Mujeres                82.8

                                                                Tasa de paro
Titulación                                         Sexo
TOTAL                                              Ambos sexos           8.0
                                                   Hombres               7.0
                                                   Mujeres               8.8
01 - EDUCACIÓN                                     Ambos sexos          12.1
                                                   Hombres              11.5
                                                   Mujeres              12.2
02 - ARTES Y HUMANIDADES                           Ambos sexos          13.6
                                                   Hombres              14.7
                                                   Mujeres              13.0
03 - CIENCIAS SOCIALES, PERIODISMO Y DOCUMENTACIÓN Ambos sexos           8.9
                                                   Hombres               9.6
                                                   Mujeres               8.4
04 - NEGOCIOS, ADMINISTRACIÓN Y DERECHO            Ambos sexos           8.0
                                                   Hombres               7.2
                                                   Mujeres               8.6
05 - CIENCIAS                                      Ambos sexos          10.5
                                                   Hombres               9.9
                                                   Mujeres              10.9
06 - INFORMÁTICA                                   Ambos sexos           2.3
                                                   Hombres               1.8
                                                   Mujeres               4.7
07 - INGENIERÍA, INDUSTRIA Y CONSTRUCCIÓN          Ambos sexos           4.7
                                                   Hombres               4.9
                                                   Mujeres               4.3
08 - AGRICULTURA, GANADERÍA, SILVICULTURA, PESC... Ambos sexos           5.8
                                                   Hombres               4.8
                                                   Mujeres               6.8
09 - SALUD Y SERVICIOS SOCIALES                    Ambos sexos           4.1
                                                   Hombres               3.2
                                                   Mujeres               4.4
10 - SERVICIOS                                     Ambos sexos           8.4
                                                   Hombres               7.2
                                                   Mujeres              10.0

**DATA ANALYSIS**

Ok this tomorrow or when I can